<% if @matches_group_a.empty? && @teams_exists  %>
  <%= render partial: 'form', locals: { group_name: "A", url: "/matches", button_text: "Create tournament pairs for a group A", phase: "groups"} %>
<% end %>

<% if @matches_group_b.empty? && @teams_exists  %>
  <%= render partial: 'form', locals: { group_name: "B", url: "/matches", button_text: "Create tournament pairs for a group B", phase: "groups"} %>
<% end %>

<%= render partial: 'form', locals: { group_name: "A", url: "/matches/update", button_text: "Generate scores for a group A", phase: "groups"} %>
<%= render partial: 'form', locals: { group_name: "B", url: "/matches/update", button_text: "Generate scores for a group B", phase: "groups"} %>
<%= render partial: 'form', locals: { url: "/matches", button_text: "Pairs for playoff", phase: "playoff", rounds_left_playoff: 3} %>
<%= render partial: 'form', locals: { url: "/matches/update", button_text: "Generate scores for playoff", phase: "playoff", rounds_left_playoff: 3} %>
<%= render partial: 'form', locals: { url: "/matches", button_text: "Pairs for playoff semifinal", phase: "playoff", rounds_left_playoff: 2} %>
<%= render partial: 'form', locals: { url: "/matches/update", button_text: "scores for playoff semifinal", phase: "playoff", rounds_left_playoff: 2} %>
<%= render partial: 'form', locals: { url: "/matches", button_text: "Pairs for playoff final", phase: "playoff", rounds_left_playoff: 1} %>
<%= render partial: 'form', locals: { url: "/matches/update", button_text: "scores for playoff final", phase: "playoff", rounds_left_playoff: 1} %>


<% for matches_group in [@matches_group_a, @matches_group_b] do %>

  <table>
    <tr>
      <th>Match ID</th>
      <th>Group</th>
      <th>Team1</th>
      <th>Team2</th>
      <th>Team1 score</th>
      <th>Team2 score</th>

    </tr>
      <% for match in matches_group do %>
      <% if match.team_matches.first %>

        <tr>
          <td> <%= match.id %></td>
          <td> <%= match.teams.first.group_name %></td>
          <td> <%= match.team_matches.first.team.name %></td>
          <td> <%= match.team_matches.last.team.name  %> </td>
          <td> <%= match.team_matches.first.score %></td>
          <td> <%= match.team_matches.last.score  %> </td>
        </tr>
      <% end %>
    <% end %>

  </table>
  <br>
<% end %>


<% for matches_group in [@matches_playoff_first_round, @matches_playoff_semifinal, @matches_playoff_final] do %>

  <table>
    <tr>
      <th>Match ID</th>
      <th>Team1</th>
      <th>Group Team1</th>
      <th>Team2</th>
      <th>Group Team2</th>
      <th>Team1 score</th>
      <th>Team2 score</th>

    </tr>
      <% for match in matches_group do %>
      <% if match.team_matches.first %>

        <tr>
          <td> <%= match.id %></td>
          <td> <%= match.team_matches.first.team.name %></td>
          <td> <%= match.teams.first.group_name %></td>
          <td> <%= match.team_matches.last.team.name  %> </td>
          <td> <%= match.teams.last.group_name %></td>
          <td> <%= match.team_matches.first.score %></td>
          <td> <%= match.team_matches.last.score  %> </td>
        </tr>
      <% end %>
    <% end %>

  </table>
  <br>
<% end %>

<style>
table, th, td {
  border: 0.5px solid #00000040;
  border-collapse: collapse;
  text-align: center;
}
</style>